<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmailSmsMarketing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmailSmsMarketing.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/dropdown-button.css" />

    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.2.3/css/dx.light.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    @Html.Partial("~/Views/Shared/DevExtreme/_DevExtremeStyle.cshtml")
    @Html.Partial("~/Views/Shared/DevExtreme/_DevExtremeScripts.cshtml")  

    <!-- Notification Style -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    <!-- EPPlus -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.10.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    


</head>
<body>


    @if (TempData["ErrorMsg"] != null)
    {
        <script>
            $(document).ready(function () {
                toastr.error('@TempData["ErrorMsg"]');
            });
        </script>
    }
    else if (TempData["SuccessMsg"] != null)
    {
        <script>
            $(document).ready(function () {
                toastr.success('@TempData["SuccessMsg"]');
            });
        </script>
    }

    @Html.Partial("~/Views/Shared/_Navbar.cshtml")
    @Html.Partial("~/Views/Shared/_Modals.cshtml")

        <div class="layout">

            @RenderBody()
        
        </div>
    @Html.Partial("~/Views/Shared/_VendorScript.cshtml")
    @Html.Partial("~/Views/Shared/_Footer.cshtml")


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
